//  BASE STYLES
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  color: $darkblack;
  font-family: $mainfont;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1;
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.loading {
  text-align: center;
  font-size: 4rem;
}

.mainContent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
