.banner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 216px;

  .banner__title {
    padding: 128px 512px;
    font-size: 6rem;
    border: 1px solid $lightblack;
  }

  .banner__tagline {
    background-color: $lightgrey;
    color: $white;
    font-size: 2.5rem;
    position: absolute;
    left: 35%;
    bottom: -50px;
    padding: 32px 80px;
  }

}
