.homePageBanner {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 240px;

    > .title {
        padding: 80px 256px;
        font-size: 6rem;
        border: 1px solid $lightblack;
    }

    > .tagline {
        background-color: $lightgrey;
        color: $white;
        font-size: 2.5rem;
        position: absolute;
        left: 41%;
        bottom: -50px;
        padding: 32px 80px;
    }

}
