.navBlocks-Wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  .navBlock {
    width: 308px;
    margin: 0 80px;
    border: 1px solid black;
    font-size: 1.75rem;
    &:hover {
      cursor: pointer;
    }

    .navBlock__text {
      padding: 32px;

      .navBlock__text--textTitle {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 24px;
      }

    }

    .navBlock__discover {
      border-top: 1px solid black;
      background-color: $lightgrey;
      color: $white;
      padding: 32px;
    }

  }

}
