.mainHeader {
  border-bottom: 1px solid $whitegrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: $darkblack;
  background-color: $white;
  margin-bottom: 216px;

  .headerNavLink{
    display: inline-block;
    margin: 0 80px;
  }

  .headerLogo {
    padding: 32px 64px;
    background-color: $lightblack;
    color: $white;
    &::first-letter {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  // .navDot {
  //   display: inline-block;
  //   width: 6px;
  //   height: 6px;
  //   border-radius: 30px;
  //   background-color: $darkblack;
  // }

}
